@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body{
    background-color: #232425;
    background-image: 
    radial-gradient(ellipse 80% 600px at 50% 0%, rgba(180, 230, 0, 0.15), transparent),
    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  
     /* Impede que o brilho radial fique se repetindo */
     background-repeat: no-repeat, repeat, repeat;
  
    /* Define o tamanho de cada camada */
    background-size: 100% 600px, 30px 30px, 30px 30px; }

.menu{
    width: 100%;
    height: 50px;
    background-color: #313233;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 170px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu-links{
    display: flex;
    gap: 32px;
}

.menu-item{
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.menu-item:hover,
.menu-item.active{
    color: #b4e600;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: white;
   
}
.subtitulo h1 {
    margin-bottom: 2px;
    font-family: 'Chakra Petch', monospace;
}

.info {
    min-width: 100vh;
    padding-top: 160px; /* Empurra o conteúdo para baixo da navbar*/
    padding-left: 20%; /* Garante a distância da borda esquerda */
    display: flex;
    justify-content: left;
    align-items: left;
    color: white;
    font-family: 'Inter', sans-serif;
}

.info-contem {
    margin-bottom: -9px;
    font-size: 17px;
    color: #aaaaaa;
    
}

/* Container das redes sociais */
.redess {
    display: flex;
    gap: 24px;
    padding-left: 10%;
    margin-top: 24px;
    padding-left: 20%;
}

.redes, 
.redes-active {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   gap: 8px;
   color: white;
   font-family:'Inter', sans-serif; ;
   font-size: 0.85rem;
   transition: color 0.2s ease, transform 0.2s ease
}

/* Efeitos ao passar o mouse */
.redes:hover, 
.redes-active:hover {
    color: #b4e600;
    transform: translateY(-2PX); /* Efeito suave subindo */
}

.icone-redes {
    width: 42px; /* Define a largura igual para todos */
    height: 42px; /* Define a altura igual para todos */
    display: block;
}